# Data Cleansing

In [3]:
import pandas as pd

### Read File

In [5]:
df = pd.read_excel(r"D:\Analyst Datasets\Pandas\Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

### Remove Duplicates

In [ ]:
df = df.drop_duplicates()
df

### Drop not useful column

In [ ]:
df = df.drop(columns = 'Not_Useful_Column')
df

### Cleaning the Last Name column by removing extra characters

In [ ]:
df['Last_Name'] = df['Last_Name'].str.strip("123._/")
df

### Cleaning Phone Number column by first stripping all special characters

In [ ]:
df['Phone_Number'] = df['Phone_Number'].str.replace('[^A-Za-z0-9]', '', regex=True)
df

### and then insert the new format back onto Phone Number

In [ ]:
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: str(x))
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
df

### ...and then strip off extra characters on null values

In [ ]:
df['Phone_Number'] = df['Phone_Number'].str.strip('--')
df

### Clearing all null values

In [ ]:
df = df.fillna('')
df = df.replace('N/a', '')
df = df.replace('nan', '')
df = df.replace('Na', '')
df

### Splitting the Address into 3 columns for more detailed view

In [ ]:
df[['Street_Address', 'State', 'Zip_Code']] = df['Address'].str.split(',', n=2, expand=True)
df

### Formatting 'Yes' and 'No' into 'Y' and 'N' for coherence and simplicity

In [ ]:
df['Paying Customer'] = df['Paying Customer'].str.replace('Yes', 'Y')
df['Paying Customer'] = df['Paying Customer'].str.replace('No', 'N')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Yes', 'Y')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('No', 'N')
df

### Changing the response of customers who did not specify they don't want to be contacted

In [ ]:
df['Do_Not_Contact'] = df['Do_Not_Contact'].replace('', 'N')
df

### Drop rows where customers specified they don't want to be contacted

In [ ]:
for x in df.index:
    if df.loc[x, 'Do_Not_Contact'] == 'Y':
        df.drop(x, inplace=True)
df

### Drop rows where customers' phone numbers don't exist

In [ ]:
for x in df.index:
    if df.loc[x, 'Phone_Number'] == '':
        df.drop(x, inplace=True)
df

### Reset index

In [ ]:
df = df.reset_index(drop=True)
df